{
  "extends": "airbnb/base",
  "env": {
    "mocha": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "generators": true
  },
  "rules": {
      "no-use-before-define": 0,
      "no-console": 0,
      "no-unused-expressions": 0,
      "no-param-reassign": 0,
      "comma-dangle": [2, "never"]
  }
}
